@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  border: none !important;
  background-color: #fe8660 !important;
}

.btn-secondary {
  color: #fe8660 !important;
  border: 1px solid #fe8660 !important;
}

.btn-tertiary {
  color: #fe8660 !important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #fe8660 !important;
  background: #fe8660 !important;
}

.p-invalid {
  border-color: red !important;
}
