body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

/* Definindo a largura da tabela */
table {
  width: 500px;
}

/* Padronizando a largura das celulas que contém as opções de situação civil (solteiro, casado, viuvo). */
.increase-width {
  width: 30%;
}

/* Vai na tabela, pega o sexto elemento tr, pega o td dele e centraliza (botão) */
table tr:nth-child(6) td {
  text-align: center;
}





