.container {
  margin: 40px;
  text-align: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 20px;
}
